html, body {
	height: 100%;
}

body.v-darkmode {
	background-color: #263238;
	color: #fafafa;
}

.demo-card-square.mdl-card {
	width: 320px;
	min-height: 24px;
}

.demo-card-square.mdl-card .mdl-card__media {
	width: 320px;
}

.demo-card-square.mdl-card .mdl-card__media img {
	width: 320px;
}

.vivid-wrapper {
	padding-top: 16px;
	padding-left: calc(50vw - 160px);
	padding-right: calc(50vw - 160px);
	padding-bottom: 64px;
}

.ttk-navbar {
	min-height: 24px;
	position: fixed;
	bottom: 0;
}

.mdl-layout__tab-bar {
	height: 48px;
}

.ttk-active-only {
	visibility: hidden;
}

.ttk-card-title {
	padding-bottom: 0px;
	word-wrap: normal;
}

.ttk-card-padless {
	padding-bottom: 0px;
	padding-top: 0px;
	word-wrap: normal;
}

.vivid-t-nopad {
	padding-top: 0px;
	padding-bottom: 0px;
}

.vivid-t-topaz {
	padding-top: 8px;
	padding-bottom: 0px;
	word-wrap: normal;
}

.mention {
	color: #4caf50
}

.mention.hashtag {
	color: #536dfe
}

#hidepic-carousel {
	background-color: RGBA(0, 0, 0, 0.5);
}
#hidepic-carousel img {
	width: 96px;
	height: 96px;
	object-fit: cover;
	margin: 16px;
	border-radius: 8px;
}

.vivid-emo {
	font-size: 0.9em;
}

.vivid-emo strong {
	cursor: pointer;
}

.vivid-emo strong:hover {
	text-decoration: #536dfe underline;
}

.is-active .ttk-active-only {
	visibility: visible;
}

.ttk-navbar .mdl-layout__tab.is-active::after {
	display: none !important;
}

.ttk-navbar .mdl-layout__tab.is-active::before {
	height: 2px;
	width: 100%;
	display: block;
	content: "";
	top: 0;
	left: 0;
	position: absolute;
	-webkit-animation: border-expand .2s cubic-bezier(.4, 0, .4, 1).01s alternate forwards;
	animation: border-expand .2s cubic-bezier(.4, 0, .4, 1).01s alternate forwards;
	transition: all 1s cubic-bezier(.4, 0, 1, 1);
}

.ttk-icon-mid {
	vertical-align: middle;
}

.mdl-card {
	border-radius: 4px;
}

.material-icons {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.link-invis {
	width: 0;
	height: 0;
}

.mdl-card__actions {
	display: flex;
}

a span.invisible {
	visibility: visible;
}

.demo-drawer-header {
	box-sizing: border-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: 16px;
	height: 151px;
	background: #455a64;
}

.demo-avatar {
	width: 48px;
	height: 48px;
	border-radius: 24px;
}

.demo-navigation .mdl-navigation__link .material-icons {
	font-size: 24px;
	margin-right: 32px;
}

.mdl-layout__drawer-button i.material-icons {
	margin-top: 0;
}

.mdl-layout__drawer-button {
	background: transparent;
	background-color: unset !important;
}

#statusDeleteButton:hover i.material-icons {
	color: #f44336/*turns delete button red when hovered*/
}

#statusDeleteButton:active i.material-icons {
	color: #ba000d/*turns delete button dark red when clicked*/
}

body.v-hasover, body.v-hasover section, body.v-hasover main {
	overflow: hidden;
}

.profile-head-postcard .mdl-card__title {
	padding: 0;
}

.v-over-fill {
	width: 100vw;
	height: 100vh;
	z-index: 15;
}

.v-over {
	position: fixed;
	/* fixes to screen */
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 15;
	border-width: 0;
	display: inline-block;
	overflow: auto;
}

div.v-over main {
	overflow: auto;
}

@media (max-width: 479px) {
	.v-prefs-page div.page-content {
		width: 100vw;
	}
}

@media (max-width: 768px) and (min-width: 480px) {
	.v-prefs-page div.page-content {
		width: 480px;
	}
}

@media (min-width: 769px) {
	.v-prefs-page div.page-content {
		width: 768px;
	}
}

.v-prefs-page div.page-content {
	padding: 24px;
	text-align: left;
	display: inline-block;
}

.v-prefs-page section {
	text-align: center;
}

.FAB {
	position: fixed;
	bottom: 24px;
	right: 24px;
}

/* ========
 DARK MODE
======== */

body.v-darkmode {
	background: #263238;
	color: #fafafa;
}

body.v-darkmode .mdl-card {
	background: #263238;
	color: #fafafa;
}

body.v-darkmode .mdl-shadow--2dp {
	/*box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.14),0 3px 1px -2px rgba(255, 255, 255, 0.2),0 1px 5px 0 rgba(255, 255, 255, 0.12);*/
	box-shadow: 0 4px 5px 0 rgba(255, 255, 255, 0.14), 0 1px 10px 0 rgba(255, 255, 255, 0.12), 0 2px 4px -1px rgba(255, 255, 255, 0.2);
}

body.v-darkmode .mdl-shadow--4dp {
	box-shadow: 0 4px 5px 0 rgba(255, 255, 255, 0.14), 0 1px 10px 0 rgba(255, 255, 255, 0.12), 0 2px 4px -1px rgba(255, 255, 255, 0.2);
}

body.v-darkmode .mdl-color--white {
	background-color: #263238 !important;
	color: #fafafa;
}

body.v-darkmode .mdl-color--black {
	background-color: #fafafa !important;
	color: #263238;
}

body.v-darkmode .mdl-layout__tab {
	color: #fafafa;
}

body.v-darkmode .mdl-card__supporting-text {
	color: #fafafa;
}

body.v-darkmode .writerchip {
	color: #fafafa;
}

body.v-darkmode textarea {
	color: #fafafa;
}

body.v-darkmode textarea::placeholder, body.v-darkmode textarea::-webkit-input-placeholder, body.v-darkmode textarea::-moz-placeholder {
	color: #9e9e9e;
}

body.v-darkmode .demo-navigation .mdl-navigation__link .material-icons {
	color: #78909c !important;
}

body.v-darkmode .demo-navigation .mdl-navigation__link {
	color: #78909c !important;
}

body.v-darkmode .mdl-layout__drawer {
	background-color: #37474f !important;
	border-right: 1px solid #263238;
}