.demo-card-square.mdl-card {
  width: 320px;
  min-height: 24px;
}
.vivid-wrapper {
  padding-top: 16px;
  padding-left: calc(50vw - 160px);
  padding-right: calc(50vw - 160px);
  padding-bottom: 64px;
}
.ttk-navbar {
	min-height: 24px;
	position: fixed;
	bottom: 0;
}
.ttk-active-only {
	visibility: hidden;
}
.ttk-card-title {
  padding-bottom: 0px;
  word-wrap: normal;
}
.ttk-card-padless {
  padding-bottom: 0px;
  padding-top: 0px;
  word-wrap: normal;
}
.vivid-t-nopad {
  padding-top: 0px;
  padding-bottom: 0px;
}
.vivid-emo {
  font-size: 0.9em;
}
.is-active .ttk-active-only {
	visibility: visible;
}
.mdl-layout__tab.is-active::after {
	display: none !important;
}
.mdl-layout__tab.is-active::before {
	height: 2px;
	width: 100%;
	display: block;
	content: "";
	top: 0;
	left: 0;
	position: absolute;
	background: rgb(83,109,254);
	-webkit-animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;
	animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;
	transition: all 1s cubic-bezier(.4,0,1,1);
}
.ttk-icon-mid {
	vertical-align: middle;
}

.link-invis {
	width: 0;
	height: 0;
}

.mdl-card__actions {
	display: flex;
}

a span.invisible {
	visibility: visible;
}

.demo-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
	height: 151px;
	
	background: #455a64;
}
.demo-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  margin-right: 32px;
}

/* ========
 DARK MODE
======== */
body.v-darkmode {
	background: #263238;
	color: #fafafa;
}
body.v-darkmode .mdl-card {
	background: #263238;
	color: #fafafa;
}
body.v-darkmode .mdl-shadow--2dp {
	/*box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.14),0 3px 1px -2px rgba(255, 255, 255, 0.2),0 1px 5px 0 rgba(255, 255, 255, 0.12);*/
	box-shadow: 0 4px 5px 0 rgba(255, 255, 255, 0.14),0 1px 10px 0 rgba(255, 255, 255, 0.12),0 2px 4px -1px rgba(255, 255, 255, 0.2);
}
body.v-darkmode .mdl-shadow--4dp {
	box-shadow: 0 4px 5px 0 rgba(255, 255, 255, 0.14),0 1px 10px 0 rgba(255, 255, 255, 0.12),0 2px 4px -1px rgba(255, 255, 255, 0.2);
}